<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>SparkPay | Transfer Money</title>
    <style>
        .alert-warning {
            color: #7f7813;
            background-color: #fdfad3;
            border-color: #fcf8c2;
            border: 1px solid lightgray;
        }
        .alert {
            position: relative;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }
        .fade {
            transition: opacity .15s linear;
        }
        .alert-dismissible .close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            padding: .75rem 1.25rem;
            color: inherit;
        }
        .close {
            cursor: pointer;
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fdfad3;
            opacity: .5;
        }
    </style>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="center container">
        <h3 style="margin-bottom: 4 0px;">Transfer Page</h3>
        <form action="/transfer/<%= id %>" method="POST" class="col s12">
          <div class="center container">
            <!-- <%- include('./partials/messages.ejs') %> -->
            <div class="row center">
              <div class="input-field">
                <i class="material-icons prefix">account_box</i>
                <% for(var i=0;i< customers.length;i++){ %>
                  <% if(customers[i]._id==id) { %>
                    <% name=customers[i].name; %>
                    <input disabled id="sender" type="text" class="validate" name="sender" value="<%= id %>">
                    <label for="sender">Sender</label>
                  <% }} %>
              </div>
            </div>
            <div class="row">
              <div style="padding: 0;" class="input-field col s12">
                <i style="display: flex; padding-left: 7px; padding-top: 3px;" class="material-icons prefix">account_circle</i>
                <select style="padding: 0; border: 0; border-bottom: 1px solid lightgray; max-width: 94%; margin-left: 6%; margin-top: 0; margin-bottom: 20px; width: 94%;" class="browser-default input-field col s12 validate" name="receiver">
                      <option value="" disabled selected>Transfer to</option>
                  <% for(var i=0;i< customers.length;i++){ %>
                    <% if(customers[i].id!==id) { %>
                      <option id="receiver" value="<%= customers[i].name %>" class="validate" name="receiver"><%= customers[i].name %> (Balance : <%= customers[i].balance %>)</option>
                    <% } %>
                  <% } %>
                </select>
                <!-- <input id="receiver" type="text" class="validate" name="receiver">
                <label for="receiver">Transfer to</label> -->
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix">monetization_on</i>
                <input id="amount" type="tel" class="validate" name="amount">
                <label for="amount">Amount</label>
              </div>
            </div>
            <div class="center">
                  <button style="background-color: #ee6e73" class="btn waves-effect waves-light" type="submit" name="action">Transfer</button>
            </div>
          </div>
        </form>
      </div>

      <%- include('./partials/footer.ejs') %>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
        document.addEventListener("DOMContentLoaded", function(event){
          M.updateTextFields();
        });
      </script>

      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('select');
          var instances = M.FormSelect.init(elems, options);
        });
      </script>

</body>
</html>