<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>SparkPay | Transactions</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="center container">
        <h3>Transactions Page</h3>
    </div>
    <div class="center container">
        <table>
            <tr>
                <% if(transactions.length>0) { %>
                    <table>
                        <tr>
                            <td><h5>Transaction ID</h5></td>
                            <td><h5>Sender</h5></td>
                            <td><h5>Receiver</h5></td>
                            <td><h5>Amount</h5></td>
                            <td><h5>Time</h5></td>
                        </tr>
                        <% for(var i=transactions.length-1;i>=0;i--) { %>
                            <tr>
                                <td><%= transactions[i]._id %></td>
                                <td><%= transactions[i].sender %></td>
                                <td><%= transactions[i].receiver %></td>
                                <td><%= transactions[i].amount %></td>
                                <% var timestamp=transactions[i].time; %>
                                <% var date=new Date(timestamp); %>
                                <% var time=(date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear()+" "+date.getHours()+":"+(date.getMinutes())+":"+date.getSeconds()); %>
                                <td><%= time %></td>
                            </tr>
                        <% } %>
                    </table>
                <% } else { %>
                    <div style="display: flex;">
                        <i style="padding-top: 18px;" class="material-icons">warning</i> &nbsp;
                        <p style="font-size: 1.2em; text-align: left;">There are no transactions.</p>
                    </div>
                <% } %>
            </tr>
        </table>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>